In [16]:
%matplotlib inline
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [17]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-01-19 05:57:42,-46.1927,168.8643,56.48,96,99,7.70
1,1,Bud,US,2022-01-19 05:57:42,39.4470,-86.1758,44.69,74,99,16.08
2,2,Bluff,NZ,2022-01-19 05:57:43,-46.6000,168.3333,56.80,61,71,22.03
3,3,Jamestown,US,2022-01-19 05:54:53,42.0970,-79.2353,28.71,60,100,5.99
4,4,Bousso,TD,2022-01-19 05:57:43,10.4795,16.7117,59.81,24,31,9.04

In [18]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [19]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [20]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [25]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,East London,ZA,2022-01-19 05:57:45,-33.0153,27.9116,70.74,73,0,13.80
9,9,Avarua,CK,2022-01-19 05:55:16,-21.2078,-159.7750,77.05,94,75,23.02
14,14,Diamantino,BR,2022-01-19 05:56:42,-14.4086,-56.4461,71.01,91,52,4.56
17,17,Atuona,PF,2022-01-19 05:57:49,-9.8000,-139.0333,79.05,74,25,23.24
19,19,Puerto Ayora,EC,2022-01-19 05:57:49,-0.7393,-90.3518,72.43,88,59,4.25
25,25,Rikitea,PF,2022-01-19 05:57:52,-23.1203,-134.9692,78.17,74,100,13.22
28,28,Bambous Virieux,MU,2022-01-19 05:57:53,-20.3428,57.7575,85.21,84,40,1.14
30,30,Torres,BR,2022-01-19 05:57:54,-29.3353,-49.7269,75.83,85,73,3.51
33,33,Loiza,PR,2022-01-19 05:57:56,18.4313,-65.8802,74.97,88,8,7.47
38,38,Touros,BR,2022-01-19 05:57:58,-5.1989,-35.4608,76.10,76,41,12.12

In [26]:
preferred_cities_df.count()

City_ID       186
City          186
Country       185
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
7       East London      ZA     70.74 -33.0153   27.9116
9            Avarua      CK     77.05 -21.2078 -159.7750
14       Diamantino      BR     71.01 -14.4086  -56.4461
17           Atuona      PF     79.05  -9.8000 -139.0333
19     Puerto Ayora      EC     72.43  -0.7393  -90.3518
25          Rikitea      PF     78.17 -23.1203 -134.9692
28  Bambous Virieux      MU     85.21 -20.3428   57.7575
30           Torres      BR     75.83 -29.3353  -49.7269
33            Loiza      PR     74.97  18.4313  -65.8802
38           Touros      BR     76.10  -5.1989  -35.4608

In [28]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [53]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name,Name
7,East London,ZA,70.74,-33.0153,27.9116,Tu Casa,Tu Casa
9,Avarua,CK,77.05,-21.2078,-159.7750,Paradise Inn,Paradise Inn
14,Diamantino,BR,71.01,-14.4086,-56.4461,Hotel Delta,Hotel Delta
17,Atuona,PF,79.05,-9.8000,-139.0333,Villa Enata,Villa Enata
19,Puerto Ayora,EC,72.43,-0.7393,-90.3518,Finch Bay Galapagos Hotel,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...,...
537,Kattivakkam,IN,86.09,13.2167,80.3167,,NaN
544,Kota Kinabalu,MY,85.98,5.9749,116.0724,,NaN
546,Bowen,AU,85.69,-20.0167,148.2333,,NaN
554,Santa Isabel Do Rio Negro,BR,72.27,-0.4139,-65.0192,,NaN
555,Auki,SB,83.93,-8.7676,160.7034,Auki Motel,NaN

In [39]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
info_box_template.format

Figure(layout=FigureLayout(height='420px'))